* { box-sizing: border-box; }

#play{
  position: relative;
  background-color: green;
  left: 200px;
}

#play2{
  position: relative;
  background-color: red;
  left: 300px;
}

#titulo{
  position: relative;
  top: 0px;
  left: 0px;
  right: 100px;
  height: 100px;
}
